@import './automated/variables.css';

html {
  --color-favorite: attr(data-color-favorite type(<color>), var(--color-primary));
  scrollbar-color: var(--color-favorite, var(--color-primary)) transparent;
  scrollbar-width: thin;
}
body {
  color-scheme: light dark;
  margin: 0;
  background-color: var(--color-bg-site);
  font-family: var(--font-family-default);
  color: var(--color-text-copy);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --duration-hover: 0.01s;
  }
}