# Defaults
node_modules
*.log*
front-end/.env
server/.env
coverage
dist

# OS
.DS_Store

# IDE
.idea

# Local Development
server/ecosystem.config.cjs
server/prisma/backups
server/prisma/db
server/prisma/generated
