# App Settings
# ------------------------------------------------------------------------------

# Enable Admin for users with grownUp set to `true`
# Disabled by default
VITE_PUBLIC_ENABLE_ADMIN_ROUTE=true

# Only Scrooge would disable this (j/k, it turns off unecssary animations you might not want)
# Enabled by default
VITE_PUBLIC_FUN=true

# Use mock data instead of db for testing or local development
# Disabled by default
VITE_PUBLIC_USE_MOCK_API_DATA=false

# Data Storage
# ------------------------------------------------------------------------------

# Location of Prisma server as accessible from the front end
VITE_PUBLIC_API_URL="http://localhost:3000"
