# SERVER
# ------------------------------------------------------------------------------
CORS_ORIGIN="http://localhost:5173"

SERVER_PORT="3000"

# Data Storage
# ------------------------------------------------------------------------------

# Location of sqlite database file
# By default this will be created in the `prisma/db` directory,
# but this needs to be set as an absolute path to work.
DATABASE_URL="file:/path/to/server/prisma/db/kids-money.db"
