# SERVER
# ------------------------------------------------------------------------------
# Sets the `Access-Control-Allow-Origin` header on the server to allow requests from only that origin. This can help with CORS issues when hosting across different domains.
CORS_ORIGIN="http://localhost:5173"

# The port that the server will be listening on.
SERVER_PORT="3000"

# Data Storage
# ------------------------------------------------------------------------------

# Location of sqlite database file. By default this will be created in the `prisma/db` directory, but this needs to be set as an absolute path to work.
DATABASE_URL="file:/path/to/server/prisma/db/kids-money.db"

# Options
# ------------------------------------------------------------------------------
# Log the ping request made ever time the app is reloaded. This can be helpful for debugging, but it will add a lot of extra lines to your server log file if left on.
#LOG_PING="true"